<div class="container">
  <h2 class="p-2">Manage My Book</h2>
  <div *ngIf="errorMsg.length" class="alert alert-danger" role="alert">
    <p *ngFor="let msg of errorMsg" class="p-0 m-0">{{msg}}</p>
  </div>
  <div class="d-flex gap-4 shadow-sm rounded-2 p-2">
    <div class="col-3">
      <img [src]="bookCover" alt="book-image" class="rounded-1 shadow-none border-0" width="100%" height="auto">
      <div class="mt-2">
        <input type="file" name="imageFile" id="imageFile" accept="image/*" class="form-control" (change)="onFileSelect($event)">
      </div>
    </div>
    <div class="col-8">
      <form class="row g-3">
        <div class="col-12 ">
          <label for="book-title" class="form-label">Title</label>
          <input id="book-title" name="book-title" [(ngModel)]="bookRequest.title" placeholder="C++ for beginners..." type="text" class="form-control">
        </div>
        <div class="col-6">
          <label for="book-author" class="form-label">Author</label>
          <input id="book-author" name="book-author" [(ngModel)]="bookRequest.authorName" placeholder="Danial Richards..." type="text" class="form-control">
        </div>
        <div class="col-6">
          <label for="book-isbn" class="form-label">ISBN</label>
          <input id="book-isbn" name="book-isbn" [(ngModel)]="bookRequest.isbn" placeholder="111133334444" type="text" class="form-control">
        </div>
        <div class="col-12">
          <label for="book-synopsis" class="form-label">Synopsis</label>
          <textarea id="book-synopsis" name="book-synopsis" [(ngModel)]="bookRequest.synopsis" placeholder="This book dive deep into concepts of...." class="form-control"></textarea>
        </div>
        <div class="col-12 form-check form-switch ms-2">
          <label class="form-check-label" for="book-shareable"><i class="bi bi-share-fill text-primary"></i> Share</label>
          <input class="form-check-input" type="checkbox" role="switch" id="book-shareable" checked>
        </div>
        <div class="col-12 d-flex justify-content-end gap-2">
          <a routerLink="/books/my-books" class="btn btn-link text-secondary text-decoration-none">Cancel</a>
          <button (click)="saveBook()" class="btn btn-outline-primary"><i class="bi bi-floppy-fill"></i> Save</button>

        </div>
      </form>
    </div>
  </div>

</div>
